<?xml version="1.0" encoding="UTF-8"?>
<!-- Launch file for ouster OS1-128 LiDAR -->
<launch>
    <arg name="rviz" default="true" />

    <rosparam command="load" file="$(find fast_lio)/config/ouster128.yaml" />

    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num" type="int" value="4"/>
    <param name="max_iteration" type="int" value="3" />
    <param name="filter_size_surf" type="double" value="0.5" />
    <param name="filter_size_map" type="double" value="0.5" />
    <param name="cube_side_length" type="double" value="1000" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" /> 

    <node pkg="tf" type="static_transform_publisher" name="body_to_camera_tf_publisher" args="-0.034803 0.010012 0.424886 -0.012760 -0.000335 -0.120106 0.992679 body camera 100" />--> <!-- Jackal -->

  <!--<node pkg="tf" type="static_transform_publisher" name="body_to_camera_tf_publisher" args="0.0313483 -0.00852594 -0.100549 -0.01578584 -0.01190483 -0.00211487 0.99980229 body camera 100" />--> <!-- CODa -->

    <!--<node pkg="tf" type="static_transform_publisher" name="body_to_camera_tf_publisher" args="-0.034803, 0.010012, 0.424886 0.000070, -0.009100, -0.999947, -0.004711 body camera 100" /> [> Wanda <]-->

    <group if="$(arg rviz)">
      <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz" />
    </group>

</launch>
